.section_catalog {
  @include marginBottom(25);

  .catalog_sorting {
    @extend %catalog_sorting;
  }

  .catalog_list {
    @include paddingLR(40,40);
    @include paddingTop(33);
    background: $c-white;

    .bottom_line {
      @include paddingBottom(15);
      @include marginBottom(30);
      border-bottom: 1px solid $c-grey-light;

      .catalog_post {
        @include paddingTB(10,25);
        border: 1px solid $c-grey-light;

        @include xl {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            border-top: 0;
          }

          &:nth-last-child(1),
          &:nth-last-child(2),
          &:nth-last-child(3),
          &:nth-last-child(4) {
            border-bottom: 0;
          }

          &:last-child,
          &:nth-child(4n) {
            border-right: 0;
          }
          &:first-child,
          &:nth-child(4n) + div {
            border-left: 0;
          }
        }

        @include lg {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            border-top: 0;
          }

          &:nth-last-child(1),
          &:nth-last-child(2),
          &:nth-last-child(3) {
            border-bottom: 0;
          }

          &:last-child,
          &:nth-child(3n) {
            border-right: 0;
          }
          &:first-child,
          &:nth-child(3n) + div {
            border-left: 0;
          }
        }

        @include md {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            border-top: 0;
          }

          &:nth-last-child(1),
          &:nth-last-child(2),
          &:nth-last-child(3) {
            border-bottom: 0;
          }

          &:last-child,
          &:nth-child(3n) {
            border-right: 0;
          }
          &:first-child,
          &:nth-child(3n) + div {
            border-left: 0;
          }
        }

        @include sm {
          &:nth-child(1),
          &:nth-child(2) {
            border-top: 0;
          }

          &:nth-last-child(1),
          &:nth-last-child(2) {
            border-bottom: 0;
          }

          &:last-child,
          &:nth-child(2n) {
            border-right: 0;
          }
          &:first-child,
          &:nth-child(2n) + div {
            border-left: 0;
          }
        }

        @include xs {
            border-left: 0;
            border-right: 0;

          &:first-child {
            border-top: 0;
          }
          &:last-child {
            border-bottom: 0;
          }
        }

        @extend %catalog_post;
      }
    }

    .navigation {
      @extend %navigation;
    }
  }
}


.section_catalog_single {
  .catalog_single_desc {
    @include marginBottom(40);

    .catalog_single_slider {

      .catalog_post_slider1 {
        @include marginBottom(8);
        .slick-slide {
          @include marginRight(4);
        }
      }

      .catalog_post_slider2 {
        .slick-slide {
          @include marginRight(4);
        }
      }
    }

    .catalog_single_title {
      font-weight: 700;
      color: $c-primary;
      @include paddingBottom(12);
      @include marginBottom(14);
      border-bottom: 2px solid $c-grey-light;
    }

    .rating {
      @include paddingBottom(10);
      border-bottom: 2px solid $c-grey-light;

      & > li {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include marginBottom(7);
        color: $c-black;

        ul {
          @include marginRight(30);

          img {
            @include marginRight(3px);
          }
        }
      }
    }

    .info {
      @include paddingTop(20);
      @include marginBottom(25);
      border-bottom: 2px solid $c-grey-light;

      > li {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include marginBottom(20);
        color: $c-black;

        strong {
          color: $c-primary;
          @include marginRight(10);
        }

        .chosen-container.chosen-container-multi {
          width: auto !important;
          min-width: 200px;

          ul.chosen-choices {
            background: none;
            border: none;
            border-radius: 5px;
            @include fontSize(14);
            color: $c-black;

            li.search-choice {
              border: none;
              background: none;
              box-shadow: none;
            }
          }
        }
      }
    }

    .price {
      li {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include marginBottom(15);
        color: $c-black;

        strong {
          color: $c-primary;
          @include marginRight(10);
        }

        span {
          color: $c-green;
        }
      }
    }

    .order {
      @include paddingTBLR(8,13);
      background: $c-primary;
      color: $c-secondary;
      text-transform: uppercase;
      @include fontSize(12);
      text-decoration: none;

      &.v2 {
        background: $c-secondary;
        @include marginTop(40);
        color: $c-black;
        display: inline-block;
      }

      &:hover {
        color: $c-white;
      }
    }
  }

  .catalog_tabs {
    @include marginBottom(30);

    .tabs__caption {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        @include marginRight(12);
        @include marginBottom(11);
        font-weight: 700;
        text-transform: uppercase;
        color: $c-grey;
        cursor: pointer;

        &:hover {
          color: $c-green;
        }
        &.active {
          color: $c-primary;
        }
      }
    }

    .tabs__content {
      display: none;
      position: relative;

      @include paddingTBLR(22,38);
      background: $c-white;
      @extend %page_desc;

      &.showhide {
        @include paddingBottom(70);
      }

      &.active {
        display: block;
      }

      .showhide_btn {
        width: 33px;
        height: 33px;
        background: url(../img/icons/arr-b.png) no-repeat center center $c-secondary;
        background-size: 14px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        cursor: pointer;

        //transition: all 0.3s ease-in-out;

        &.active {
          transform: rotate(180deg);
        }

        &:hover {
          background-color: $c-green;
        }
      }
    }
  }

  form.user_edit {
    img.add {
      display: block;
      cursor: pointer;

      &.add_characteristic {
        @include marginLeft(10);
      }
    }

    select {
      background: none;
      border: none;
    }

    textarea {
      border: 1px dotted red;
    }

    .price {
      input {
        width: 40px;
        background: none;
        border: none;
        color: $c-green;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      select {
        color: $c-green;
      }
    }

    .gallery,
    .diplomas {
      @include paddingTop(20);
      @include marginBottom(35);
      border-top: 2px solid $c-grey-light;

      &__title {
        @include marginBottom(15);
        font-weight: 700;
        text-transform: uppercase;
        color: $c-primary;
      }

      &__images {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .img {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          width: 60px;
          height: 60px;
          border: 1px solid $c-black;
          margin: 10px 20px 10px 0;
          position: relative;

          span {
            position: absolute;
            top: 0px;
            right: 3px;
            color: $c-grey;
            @include fontSize(12);
            cursor: pointer;

            &:hover {
              color: $c-black;
            }
          }
        }
      }
    }

    .user_edit_btn {
      @extend %secondary_btn;
      border: none;
    }
  }
}

.section_posts {
  .catalog_post {
    @extend %catalog_post;
  }
}