footer {
    @include paddingTB(28,28);
    background: $c-primary;
    @include marginTop(33);

  .footer_menu {

    .footer_menu_title {
      @extend %header_txt;
      color: $c-secondary;
      display: block;
      @include marginBottom(15);
    }

    .footer_menu_content {
      ul.list {
        @extend %list;
      }
    }
  }

  .footer_contacts {
    .footer_contacts_item {
      position: relative;
      @include paddingLeft(15);
      @include paddingRight(15);
      @include marginTop(5);
      @include marginBottom(5);
      display: flex;
      flex-direction: column;
      align-items: center;

      @include bp(xl) {
        @include paddingBottom(15);
        @include marginBottom(15);
        padding-left: 0;
        padding-right: 0;
        display: block;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 46px;
          height: 1px;
          background: $c-secondary;
        }

        &:last-child {
          padding: 0;
          margin: 0;

          &:before {
            content: none;
          }
        }
      }

      ul.footer_phones {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: flex;
          @include marginTB(5,5);

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          a {
            @extend %header_txt;
            font-weight: 400;
          }
        }
      }

      ul.footer_emails {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: flex;
          @include marginTB(5,5);

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          span {
            @extend %header_txt;
            color: $c-secondary;
            display: block;
            @include marginRight(10);
            font-weight: 400;
          }

          a {
            @extend %header_txt;
            font-weight: 400;
          }
        }
      }

      .icons {
        @extend %icons;
      }

    }
  }

}