html {
  font-size: 16px;
  height: 100%;
}

@include bp(xl) {
  .container {
    max-width: 1270px;
  }
}

body {
  position: relative;
  min-height: 100%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  background: url(../img/bg.jpg) no-repeat center center $c-bg;
  background-attachment: fixed;
  background-size: cover;
  color: $c-grey;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 1.3;

  -webkit-font-smoothing: antialiased;

  > .wrapper {
    position: relative;
  }
}

h1 {
  @include fontSize(24);
}
h2 {
  @include fontSize(20);
}
h3 {
  @include fontSize(16);
}
h4 {
  @include fontSize(14);
}
h5 {
  @include fontSize(12);
}
h6 {
  @include fontSize(10);
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignright {
  margin: 0 0 2px 7px;
  display: inline;
  float: right;
}
img.alignleft {
  margin: 0 7px 2px 0;
  display: inline;
  float: left
}

input[type="submit"] {
  /* -webkit-border-radius: 0; */
  -webkit-appearance: none;
}
form {
  input[type="password"],
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    background: $c-white;
    border: 1px solid $c-primary-dark;
    margin: 0;
    @include paddingTBLR(10,15);
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 400;
    border-radius: 5px;
    @include fontSize(12);

  }
  textarea {
    resize: none;
    height: 240px;
  }

  .checkbox {
    label {
      box-sizing: border-box;
      @include paddingLeft(33);
      position: relative;
      display: inline-block;
      @include fontSize(10);
      color: $c-white;
      cursor: pointer;

      &:before {
        content: '';
        width: 19px;
        height: 19px;
        border-radius: 3px;
        border: 1px solid $c-primary-dark;
        background: $c-white;
        left: 0;
        top: -3px;
        display: block;
        position: absolute;
      }
    }

    input[type="checkbox"] {
      width: 0;
      height: 0;
      position: absolute;
      z-index: -100;
      visibility: hidden;

      &:checked + label {
        &:before {
          background: $c-secondary;
        }
      }
    }
  }

  input[type="submit"] {
    color: $c-primary;
    background: $c-secondary;
    width: auto;
    cursor: pointer;
    border: 1px solid $c-primary-dark;
    text-transform: uppercase;
    font-weight: 700;
    @include paddingTBLR(8,60);
    @include fontSize(12);

    &:hover {
      border-color: $c-secondary;
      background: $c-white;
    }
  }

  .successful {
    text-align: center;
    @include marginTop(10);
    color: $c-green;
  }

  .g-recaptcha{
    transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

a {
  color: $c-secondary;

  &:visited {
    color: $c-secondary;
  }

  &:hover {
    color: $c-secondary;
  }
}

ul.breadcrumbs {
  list-style: none;
  margin: 0;

  @include paddingTB(20,20);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom: 5px solid $c-secondary;
  background: $c-primary;
  @include marginBottom(25);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: $c-white;
  font-weight: 700;

  li {
    position: relative;
    @include paddingRight(12);

    a {
      color: $c-white;
      position: relative;
      display: block;

      &:after {
        content: '/';
        display: block;
        position: absolute;
        top: 0;
        right: -9px;
      }
    }
  }
}

.scrollIn {
  position: relative;

  &.onlyY {
    max-height: 300px;

    &.v2 {
      max-height: 615px;
    }
  }

  &.bothXY {
    max-height: 70vh;
    max-width: 100%;

    &.v2 {
      max-height: 100vh;
    }
  }

  .ps__rail-y {
    width: 1px;

    &:before {
      opacity: 0;
      content: '';
      position: absolute;
      width: 100%;
      background: $c-black;
      height: 100%;
      right: 1px;
    }

    .ps__thumb-y {
      background: $c-secondary;
      border-radius: 0;
      right: 0px;
      width: 4px;
    }

    &:hover {
      opacity: 1;
      background: transparent;

      &:before {
        opacity: 1;
      }

      & > .ps__thumb-y {
        background: $c-secondary;
        width: 4px;
        right: 0px;
      }
    }
  }

  .ps__rail-x {
    height: 1px;

    &:before {
      opacity: 0;
      content: '';
      position: absolute;
      width: 100%;
      background: $c-black;
      height: 100%;
      bottom: 4px;
    }

    .ps__thumb-x {
      background: $c-secondary;
      border-radius: 0;
      right: 0px;
      height: 4px;
    }

    &:hover {
      opacity: 1;
      background: transparent;

      &:before {
        opacity: 1;
      }

      & > .ps__thumb-x {
        background: $c-secondary;
        height: 4px;
        right: 0px;
      }
    }
  }
}

.sec_btn {
  @extend %secondary_btn;
}
