header {

  .top {
    @include paddingTB(13,13);
    background: $c-primary;

    .header_top_item {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      @include bp(xl) {
        border-right: 1px solid white;
        @include paddingLR(26,26);

        &:last-child {
          border-right: none;
          @include paddingRight(15);
        }
      }

      .user_city {

        .user_city_title {
          @extend %header_txt;
        }

        .choose_city {
          text-align: right;
          @include marginLeft(10);

          @extend %header_txt;
          color: $c-secondary;
          display: block;

          & > li {
            position: relative;

            a {
              text-decoration: none;
            }

            .sub-menu {
              display: none;
              position: absolute;
              top: 17px;
              right: 0;
              background: $c-white;
              @include paddingTBLR(10,10);
              border-radius: 3px;
              z-index: 1;

              a {
                color: $c-black;

                &:hover {
                  color: $c-green;
                }
              }
            }

            &:first-child {
              @include paddingRight(22);

              &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 7px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 6px 0 6px;
                border-color: $c-secondary transparent transparent transparent;
              }

              &:hover {
                cursor: pointer;

                .sub-menu {
                  display: block;
                }
              }
            }
          }
        }
      }

      ul.header_phones {
        margin: 0;
        padding: 0;
        list-style: none;

        &.icon {
          @include bp(m) {
            @include paddingLeft(45);
            background: url(../img/icons/phones.png) no-repeat left center;
          }
        }

        li {
          display: flex;
          @include marginTB(5,5);

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          a {
            @extend %header_txt;
          }
        }
      }

      ul.header_emails {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: flex;
          @include marginTB(5,5);

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          span {
            @extend %header_txt;
            color: $c-secondary;
            display: block;
            @include marginRight(10);
          }

          a {
            @extend %header_txt;
          }
        }
      }

      ul.icons {
        @extend %icons;
      }
    }
  }

  .bottom {
    @include marginBottom(28);
    border-bottom: 5px solid $c-secondary;
    background: $c-white;

    a.menu_burger {
      width: 34px;
      height: 34px;
      background: $c-secondary;
      display: flex;
      align-items: center;
      justify-content: center;

      @include bp(xl) {
        display: none;
      }
    }

    .menu_list {
      display: none;
      position: absolute;
      top: 34px;
      left: 15px;
      background: $c-white;
      @include paddingTBLR(10,10);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      z-index: 1;

      @include bp(xl) {
        display: flex;
        position: relative;
        top: 0px;
        left: 0px;
        padding: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        z-index: 0;
      }

      li {

        a {
          display: block;
          @include paddingTBLR(6,12);
          @include marginTop(4);
          @extend %header_txt;
          color: $c-grey;
          text-decoration: none;

          &:hover {
            background: $c-primary;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: $c-white;
          }
        }


        &.current-menu-item {
          a {
            background: $c-primary;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: $c-secondary;
          }
        }
      }
    }

    .search {
      a.search_icon {
        width: 34px;
        height: 34px;
        background: $c-secondary;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: $c-green;
        }
      }

      form.searchform {
        position: absolute;
        display: flex;
        width: 280px;
        top: 34px;
        right: 15px;
        z-index: 1;
        background: $c-white;
        @include paddingTBLR(10,10);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        .btn {
          @include marginLeft(15);
        }
      }
    }
  }

}