.arcticmodal-overlay {
  background: $c-white;
  opacity: 0.5;
}

.box-modal {
  position: relative;
  @include paddingTBLR(15,15);
  background: $c-primary;
  color: $c-secondary;
  width: 270px;
  border-radius: 13px;
  box-shadow: none;

  @include bp(l) {
    width: 570px;
    @include paddingTBLR(25,60);
  }

  .box-modal_close {
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 11px;
    line-height: 15px;
    color: $c-primary;
    cursor: pointer;

    &:hover { color: $c-primary; }
  }

  h3 {
    @include paddingTop(55);
    @include marginBottom(35);
    @include fontSize(20);
    text-transform: uppercase;
    font-weight: 400;
    background: url(../img/icons/sidebar_block_icon.png) no-repeat top center;
  }

  input[type="submit"] {
    @include bp(l) {
      @include marginTop(30);
      @include marginBottom(10);
    }
  }
}