.section_news {

  .section_header {
    @extend %section_header;
  }

  .news_list {
    @include paddingLR(40,40);
    @include paddingTop(33);
    background: $c-white;

    .bottom_line {
      @include marginBottom(30);
      border-bottom: 1px solid $c-grey-light;

      .post {
        @extend %post;
      }
    }

    .navigation {
      @extend %navigation;
    }
  }


  .single_desc {
    @extend %page_desc;
    @include paddingTB(50,50);
    background: $c-white;
    @include marginBottom(25);

    .single_slider {
      background: $c-white;

      .news_post_slider1 {
        @include marginBottom(8);
        .slick-slide {
          @include marginRight(4);
        }
      }

      .news_post_slider2 {
        .slick-slide {
          @include marginRight(4);
        }
      }
    }
  }
}