.section_page {

  &.v2 {
    @include marginBottom(20);
  }

  .section_header {
    @extend %section_header;
  }

  .page_desc {
    @extend %page_desc;
    @include paddingTop(33);
    background: $c-white;

    .bottom_line {
      @include marginBottom(30);
      @include paddingBottom(33);
      border-bottom: 1px solid $c-grey-light;
    }


    .services {
      .services_title {
        @include marginTB(20,10);
        @include fontSize(24);
        font-weight: 400;
        color: $c-primary;
      }
      .service_item {
        .service_item_wrap {
          background: $c-secondary;
          min-height: 100%;
          @include paddingTBLR(15,15);
          border-radius: 9px;
          color: $c-primary;
          font-weight: 700;
        }
      }
    }
  }
}