.section_posts {
  @include marginBottom(25);

  .section_header {
    @extend %section_header;
  }

  .posts_content {
    box-sizing: border-box;
    @include paddingLR(35,35);
    @include paddingTB(30,20);
    @include marginBottom(25);
    background: $c-white;

    .slick_carousel {
      @extend %slick_arrs;

      .post {
        @extend %post;
      }
    }
  }
}