.section_advantages {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  background: $c-white;
  @include marginBottom(25);

  .section_header {
    @extend %section_header;
  }

  .adv_list {
    @include paddingTB(25,25);

    @include bp(xl) {
      @include paddingLR(25,25);
    }
  }

  .adv_item {
    @include paddingLR(25,25);
    @include marginBottom(12);
    display: flex;

    .adv-title {
      @include fontSize(13);
      color: $c-green;
      @include paddingTB(2,4);
      text-transform: uppercase;
      font-weight: 700;
    }

    .adv_text {
      width: calc(100% - 45px);
      box-sizing: border-box;
      @include paddingLeft(15);
      @include fontSize(11);
      //font-family: $regular;
      color: $c-primary;
    }
  }

}