section.user_calendar {
  @include marginBottom(25);

  .section_header {
    @extend %section_header;
    border-bottom: none;

    .calendar_links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      a {
        color: $c-dark;
        @include fontSize(10);
        font-weight: 700;
        @include marginTBLR(5,5);

        @include bp(m) {
          @include marginTBLR(5,10);
          @include fontSize(14);
        }

        &.current {
          color: $c-primary;
        }

        &.arr {
          width: 30px;
          height: 30px;
          display: block;
          background-color: $c-secondary;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../img/arr_y.png);
          background-size: 6px;

          &.prev {
            @include bp(m) {
              margin-right: 20px;
            }
          }
          &.next {
            transform: rotate(180deg);

            @include bp(m) {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }

  .user_calendar_content {
    background: $c-white;

    table.calendar {
      width: 100%;
      min-width: 700px;

      thead {
        text-align: center;

        th {
          @include paddingTBLR(10,10);
          background: $c-secondary;
          color: $c-dark;
          @include fontSize(14);
          font-weight: 700;
        }
      }

      tbody {
        tr {
          td {
            height: 75px;
            border-bottom: 1px solid $c-grey-light;
            border-right: 1px solid $c-grey-light;
            width: 14%;
            box-sizing: border-box;
            padding: 0 2px;
            position: relative;

            &:last-child {
              border-right: none;
            }

            span {
              display: block;
              color: $c-grey;
              @include fontSize(12);
              font-weight: 600;
              text-align: right;
              @include paddingRight(8);
              @include paddingTop(5);
            }

            .day_item {
              margin: 1px 0;
              padding: 2px 3px;
              background: $c-primary;
              border-radius: 5px;
              text-align: center;
              font-weight: 700;
              color: $c-white;
              @include fontSize(12);
              display: block;
            }

            .day_modal {
              display: none;
              position: absolute;
              left: 0%;
              top: -35px;
              z-index: 1;
              @include paddingTBLR(8, 8);
              box-sizing: border-box;
              border-radius: 21px;
              background: $c-primary;
              text-align: center;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              width: 200%;
              color: $c-white;
              font-weight: 600;
              max-width: 260px;

              p {
                @include marginTB(5,5);
              }
            }

            &:hover {
              .day_modal {
                display: flex;
              }
            }
          }
        }
      }

      &.v2 {
        th:nth-child(2),
        td:nth-child(2) {
          width: 72%;
        }

        td:nth-child(2) {
          padding: 5px 25px;

          .day_item {
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
          }

          .day_modal {
            left: 0;
            right: 0;
            margin: 0 auto;
          }

          & > p {
            @include marginTB(5,5);
            font-weight: 600;
            color: $c-black;
            text-align: center;
          }
        }
      }

      &.day td {
        border-bottom: none;
      }
    }
  }
}