.section_form {
  background: $c-primary;
  @include marginBottom(25);
  @include paddingTB(15,20);
  @include paddingLR(15,15);

  h3 {
    @include marginBottom(15);
    color: $c-white;
    font-weight: 400;
    @include fontSize(18);
  }
}