.section_myPersonal {

  .section_header {
    @extend %section_header;
  }

  background: none;
  @include marginBottom(17);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;


  .myPersonal__item {
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: $c-white;
    overflow: hidden;
    min-height: 100%;

    &.empty {
      background: $c-grey-dark;
      display: flex;
      flex-direction: column;
    }

    .person_empty {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 112px;
    }

    .person_top {
      @include paddingTB(8,8);
      color: $c-secondary;
      @include fontSize(14);
      font-weight: 700;
      border-bottom: 5px solid $c-secondary;
      background: $c-primary;
    }

    .person_center {
      display: flex;
      align-items: center;
      @include paddingTBLR(15,15);


      .person_img {
        border-radius: 50%;
        border: 2px solid $c-green;
        overflow: hidden;
      }

      .person_content {
        width: calc(100% - 60px);
        box-sizing: border-box;
        @include paddingLeft(15);
        @include fontSize(12);
        color: $c-primary;
        text-align: left;

        .person_title {
          font-weight: 700;
        }

        .person_price {
          @include marginTB(6,6);
          color: $c-green;

          span {
            color: $c-primary;
            display: inline-block;
            @include marginLeft(13);
          }
        }

        a {
          font-weight: 700;
          color: $c-grey;
        }
      }
    }

    .person_bottom {
      a.person_link {
        @include paddingTBLR(3,15);
        background: $c-secondary;
        color: $c-dark;
        @include fontSize(10);
        font-weight: 700;
        text-decoration: none;
        display: inline-block;

        &:hover {
          color: $c-white;
        }
      }
    }
  }
}