.section_algorithm {

  .section_header {
    @extend %section_header;
  }

  .algorithm_item {
    position: relative;

    .algorithm-title {
      @include fontSize(16);
      font-weight: 700;
      color: $c-secondary;
      background: $c-primary;
      @include paddingTBLR(14,14);
      border-radius: 7px;
      text-align: center;
      box-sizing: border-box;
      position: relative;
      z-index: 1;

      &:after {
        content: '';
        width: 65px;
        height: 20px;
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        z-index: -1;
        background: $c-blue;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .algorithm-content {
      color: $c-primary;
      background: $c-secondary;
      @include paddingTBLR(17,17);
      border-radius: 7px;
      @include marginTop(17);
      @include marginBottom(25);
      min-height: calc(100% - 90px);
      box-sizing: border-box;
      position: relative;
      z-index: 1;

      ul {
        @extend %list;
      }

      @include bp(xl) {

        &:after {
          content: '';
          width: 30px;
          height: 70px;
          position: absolute;
          bottom: 0px;
          top: 0;
          right: -30px;
          z-index: -1;
          background: $c-blue;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }

    @include bp(xl) {

      &:last-child {
        .algorithm-content {
          &:after {
            content: none;
          }
        }
      }
    }
  }
}