section.user_order {

  .section_header {
    @extend %section_header;
  }

  .user_order_content {
    background: $c-white;

    .order_person {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.v1 {
        width: 100%;

        @include bp(xl) {
          width: 28%;
        }
      }

      &.v2 {
        width: 100%;

        @include bp(xl) {
          width: 44%;
        }
      }

      .order_person_content {
        flex-grow: 1;

        .order_person_img {
          img {
            border-radius: 50%;
            border: 2px solid $c-green;
            overflow: hidden;
            @include marginBottom(10);
          }
        }

        .order_person_type,
        .order_person_title {
          color: $c-primary;
          font-weight: 700;
        }

        .order_person_type {
          @include marginBottom(15);
        }

        .order_person_title {
          @include marginBottom(5);
        }

        .order_person_desc {
          color: $c-black;
          font-weight: 600;
          @include fontSize(12);
          @include marginBottom(10);
        }

        .order_person_price {
          color: $c-green;
          font-weight: 400;
        }
      }

      .order_person_details {
        flex-grow: 1;
        background: $c-grey-dark;
        color: $c-black;
        font-weight: 600;
        text-align: left;
        @include fontSize(16);
        line-height: 1.8;

        .green {
          color: $c-green;
        }

        .order_field,
        .order_field.user_select + .chosen-container ul.chosen-choices {
          background: none;
          border: 1px solid #b3b3b3;
          border-radius: 5px;
          font-weight: 600;
          height: 29px;
          padding-left: 10px;
          padding-right: 5px;
          width: 100% !important;
          margin-bottom: 5px;
        }

        .order_field.user_select + .chosen-container {
          width: 100% !important;
        }
        .order_field.user_select + .chosen-container ul.chosen-choices {
          min-height: 29px;
          height: auto;
        }

        .number {
          width: 55px !important;
          margin-bottom: 0;
        }

        textarea {
          height: auto !important;
          min-height: 29px;
          max-height: 100px;
          font-family: inherit;
          width: 100% !important;
          padding-top: 0;
        }
      }

      .order_person_btn {
        @extend %secondary_btn;
        min-height: 31px;
      }
    }
  }
}