.section_userForm {

  .section_header {
    @extend %section_header;
  }

  background: $c-primary;
  @include marginBottom(25);
  @include paddingBottom(20);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;

  &.v2 {
    background: $c-white;
  }

  .userForm {
    @include paddingTB(20,20);

    ul.radio_btns {
      @extend %radio_btns;
    }
  }
}