.section_myOrders {

  .section_header {
    @extend %section_header;

    a.section_header_link {
      color: $c-primary;
    }

    &.no-radius {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

  background: none;
  @include marginBottom(25);

  .myOrders__content {
    color: $c-dark;
    @include fontSize(14);
    background: $c-white;

    table.orders {
      width: 100%;

      td {
        padding: 5px 0;

        &.title {
          padding-left: 10px;
          padding-right: 10px;

          a {
            color: $c-dark;
          }
        }
      }
    }
  }
}