.section_main_slider {
  @include marginBottom(25);
  
  .main_slider {

    @extend %slick_dots;

    &.slick-dotted.slick-slider {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .main_slider_item {
      position: relative;

      .main_slider_image {
        height: 100vh;

        @include bp(l) {
          height: auto;
        }

        img {
          object-fit: cover;
          object-position: center center;
          height: 100%;
          width: 100%;
        }
      }

      .main_slider_content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        z-index: 1;
        text-align: center;
        box-sizing: border-box;
        @include paddingTBLR(30,30);

        @include bp(l) {
          width: 50%;
        }

        .main_slider_title {
          color: $c-primary;
        }

        .btn {
          @extend %primary_btn;

          @include marginTop(65);
          position: relative;

          &:before {
            content: '';
            position: absolute;
            top: -40px;
            left: 0;
            right: 0;
            margin-right: auto;
            margin-left: auto;
            width: 105px;
            height: 4px;
            background: $c-secondary;
          }
        }
      }
    }
  }

}