section.user_orders {
  @include marginBottom(25);

  .catalog_sorting {
    @extend %catalog_sorting;
  }

  .section_header {
    @extend %section_header;
  }

  .user_orders_content {
    @include paddingTB(13,18);
    background: $c-white;

    table.user_history_list {
      width: 100%;
      text-align: center;
      @include paddingBottom(15);
      min-width: 700px;

      thead {
        th {
          @include fontSize(12);
          font-weight: 700;
          @include paddingBottom(13);

          a {
            color: $c-black;
            display: flex;
            align-items: center;
            justify-content: center;

            &.sort {
              &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                @include marginLeft(3);
                display: none;
              }

              &.up {
                &:after {
                  border-width: 0 3.5px 3.5px 3.5px;
                  border-color: transparent transparent $c-secondary transparent;
                  display: block;
                }
              }

              &.down {
                &:after {
                  border-width: 3.5px 3.5px 0 3.5px;
                  border-color: $c-secondary transparent transparent transparent;
                  display: block;
                }
              }
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background: $c-grey-dark;
          }

          td {
            @include paddingTBLR(3,5);
            color: $c-black;
            @include fontSize(14);

            a {
              color: $c-black;
            }
          }

          &.green,
          &:hover {
            td {
              color: $c-green;

              a {
                color: $c-green;
              }
            }
          }

          &.red {
            td {
              color: red;

              a {
                color: red;
              }
            }
          }
        }
      }

      &.v2 {
        text-align: left;

        thead {
          th {
            a {
              justify-content: flex-start;
            }
          }
        }
      }
    }

    .navigation {
      @extend %navigation;

      padding-bottom: 0;
      @include paddingTop(30);
    }
  }
}