.sidebar {

  .sidebar_block {
    @include marginBottom(25);

    &:last-child {
      margin-bottom: 0;
    }

    .sidebar_block_title {
      @extend %header_txt;
      color: $c-secondary;
      text-transform: uppercase;
      text-align: center;
      background: url(../img/icons/sidebar_block_icon.png) no-repeat top 9px center $c-primary;
      display: block;
      @include paddingTB(52,9);
      @include paddingLR(5,5);
      border-top-left-radius: 13px;
      border-top-right-radius: 13px;
      border-bottom: 5px solid $c-secondary;
    }

    .sidebar_block_subtitle {
      @include paddingTBLR(8,13);
      background: $c-secondary;
      color: $c-dark;
      @include fontSize(12);
      text-decoration: none;
      display: inline-block;
      text-align: center;
      width: 100%;
    }

    .sidebar_block_content {
      @include paddingTBLR(10,17);
      background: $c-white;

      /*menu*/
      .list {
        @extend %list;
      }


      /*persons*/
      .sidebar_persons {


        .persons_list {
          @extend %slick_arrs;
          .slick-next,
          .slick-prev {
            top: 50%;
          }


          .person_item {
            display: flex;
            align-items: center;
            @include paddingTB(15,15);


            .person_img {
              border-radius: 50%;
              border: 2px solid $c-green;
              overflow: hidden;
            }

            .person_content {
              width: calc(100% - 60px);
              box-sizing: border-box;
              @include paddingLeft(23);
              @include fontSize(12);
              color: $c-grey;

              .person_title {
                font-weight: 400;
              }

              .person_price {
                @include marginTB(6,6);
                color: $c-green;

                span {
                  color: $c-grey;
                  display: inline-block;
                  @include marginLeft(13);
                }
              }

              a {
                font-weight: 700;
                color: $c-grey;
              }
            }
          }
        }

        .persons_desc {
          @include fontSize(10);
          color: $c-primary;
        }
      }


      /*filter*/
      .filter-form {
        @include paddingTBLR(18,21);

        .filter-block {
          @include marginBottom(20);

          &:last-child {
            margin-bottom: 0;
          }

          h4 {
            font-weight: 700;
            color: $c-primary;
            @include marginBottom(9);

            &.showhide_filter_btn {
              position: relative;
              cursor: pointer;
              @include marginTB(15,15);

              &:before {
                content: '';
                position: absolute;
                right: 4px;
                top: -4px;
                width: 25px;
                height: 25px;
                background: url(../img/icons/select_arr_d2.png) no-repeat center center;
              }
            }
          }

          select {
            border: 1px solid $c-grey;
            color: $c-grey;
            @include fontSize(10);
            @include paddingTBLR(8,29);
            background: url(../img/icons/select_arr_d2.png) no-repeat center right 2px $c-white;
            height: 34px;
            -webkit-appearance: none;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            width: 100%;
          }

          ul.radio_btns {
              @extend %radio_btns;
          }

          .rangeInputs {
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
              width: 45%;
            }

            .separator {
              font-weight: 700;
              color: $c-primary;
              font-size: 25px;
            }
          }

          .ui-slider.ui-widget.ui-widget-content {
            border: 1px solid $c-primary;
            background: $c-primary;
            @include marginTop(25);

            .ui-slider-range {
              background: $c-white;
              border-radius: 0 !important;
            }

            .ui-slider-handle {
              width: 8px;
              background: $c-primary;
              border: 1px solid $c-primary;
              height: 20px;
              top: -5.5px;

              span {
                text-align: center;
                position: absolute;
                top: -20px;
                width: 100%;
                left: -3px;
                @include fontSize(12);
                color: $c-black;
              }
            }
          }
        }
      }


      /*why-we*/
      .sb_vertical_carousel {
        @include paddingTB(5,5);

        .slick-slide {
          & > div {
            @include marginBottom(40);

            &:last-child {
              margin-bottom: 0;
            }

            .sb_v_c_title {
              text-transform: uppercase;
              @include marginTop(7);
              @include marginBottom(7);
              text-align: center;
            }
            .sb_v_c_text {
              @include fontSize(10);
            }
          }
        }

        @extend %slick_dots;

        &.slick-dotted.slick-slider {
          @include marginBottom(5);
          @include paddingBottom(50);
        }
      }


      /*user-info*/
      .userInfo {
        text-align: center;
        font-weight: 600;
        color: $c-black;

        .user_avatar {
          width: 170px;
          height: 170px;
          margin: 0 auto;
          position: relative;
          max-width: 100%;
          @include marginTB(25,30);

          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            border: 2px solid $c-green;
            display: block;
          }

          .settings_btn {
            position: absolute;
            left: 0;
            top: 0;
            text-decoration: none;
          }
        }

        .user_name {
          @include fontSize(20);
          @include marginBottom(10);
          color: $c-primary;
        }

        .user_desc {
          @include fontSize(12);
          @include marginBottom(7);
        }

        .user_rating {
          display: flex;
          align-items: center;
          justify-content: center;
          @include marginBottom(10);

          .rating_star  {
            margin: 0 2px;
          }
        }

        .user_balance {
          @include marginBottom(24);

          .user_balance_title {
            @include fontSize(14);
            @include marginBottom(15);
          }
          .user_balance_total {
            @include fontSize(24);
            @include marginBottom(24);
            color: $c-green;
          }
        }

        .user_history a {
          @include paddingTBLR(8,13);
          background: $c-secondary;
          color: $c-dark;
          @include fontSize(12);
          text-decoration: none;
          display: inline-block;

          &:hover {
            color: $c-white;
          }
        }

        &.manager {
          display: flex;
          text-align: left;
          align-items: flex-start;
          padding: 5px 0 10px 0;

          .user_avatar {
            width: 48px;
            height: auto;
            margin: 0;

            & > img {
              width: 48px;
              height: 48px;
            }

            .settings_btn {
              left: -4px;
              top: -4px;
            }

            .logout {
              display: block;
              @include fontSize(8);
              color: $c-black;
              text-align: center;
            }
          }

          .user_name {
            box-sizing: border-box;
            padding-left: 15px;
            margin-bottom: 0;
            width: calc(100% - 63px);

            span.position {
              display: block;
              @include fontSize(12);
              color: $c-black;
              margin-top: 5px;
            }
          }
        }
      }


      /*user-history*/
      .user_history_list {
        color: $c-dark;
        @include fontSize(12);
        font-weight: 600;

        ul {
          li {
            a {
              color: $c-dark;
            }

            &.green {
              color: $c-green;

              a {
                color: $c-green;
              }
            }

            &.red {
              color: red;

              a {
                color: red;
              }
            }

            display: flex;
            width: 100%;
            @include marginTB(10,10);

            .date {
              width: 25%;
            }

            .text {
              width: 75%;
            }
          }
        }
      }

    }

  }

}