$bold: "Gotham Pro Bold";
$light: "Gotham Pro Light";
$regular: "Gotham Pro Regular";
$black: "Gotham Pro Black";
$medium: "Gotham Pro Medium";

//$c-primary: #5d2d81;
$c-primary: #673774;
$c-primary-dark: #4b155a;
$c-secondary: #FFCF18;
$c-bg: #ecf5f8;
$c-blue: #83adff;
$c-white: #fff;
$c-black: #000;
$c-dark: #333;
$c-grey-light: #d0d0d0;
$c-grey: #808080;
$c-grey-dark: #E6E6E6;
$c-green: #5BB31A;

$w-large-desktop: 1271px;
$w-desktop: 992px;
$w-tablet: 768px;
$w-mobile: 414px;

@mixin transition {
  transition: all .2s ease-in-out;
}

@mixin bp($point) {
  @if $point == s {
    @media (min-width: $w-mobile) {
      @content;
    }
  } @else if $point == m {
    @media (min-width: $w-tablet) {
      @content;
    }
  } @else if $point == l {
    @media (min-width: $w-desktop) {
      @content;
    }
  } @else if $point == xl {
    @media (min-width: $w-large-desktop) {
      @content;
    }
  } @else if $point { // allows custom breakpoints
    @media (min-width: $point) {
      @content;
    }
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}

@mixin xs {
  @media (min-width: 320px) and (max-width: 575px) {
    @content;
  }
}

@mixin media_max($val) {
  @media screen and (max-width: $val) {
    @content;
  }
}

$defaultFontSize: 16;
@mixin fontSize($value) {
  font-size: #{$value / 15}rem;

  @include bp(m) {
    font-size: #{$value / $defaultFontSize}rem;
  }
}

//fonts
@mixin Reg($color, $size: $defaultFontSize) {
  color: $color;
  font-weight: 400;
  font-family: $regular;
  @include fontSize($size);
}


@mixin Light($color, $size: $defaultFontSize) {
  color: $color;
  font-weight: 400;
  font-family: $light;
  @include fontSize($size);
}

@mixin Bold($color, $size: $defaultFontSize) {
  color: $color;
  font-weight: 400;
  font-family: $bold;
  @include fontSize($size);
}

@mixin Medium($color, $size: $defaultFontSize) {
  color: $color;
  font-weight: 400;
  font-family: $medium;
  @include fontSize($size);
}

@mixin Black($color, $size: $defaultFontSize) {
  color: $color;
  font-weight: 400;
  font-family: $black;
  @include fontSize($size);
}

//Padding/marg
@mixin paddingTop($value) {
  padding-top: ($value/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    padding-top: ($value/15) + rem;
  }
}

@mixin paddingBottom($value) {
  padding-bottom: ($value/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    padding-bottom: ($value/15) + rem;
  }
}

@mixin paddingLeft($value) {
  padding-left: ($value/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    padding-left: ($value/15) + rem;
  }
}

@mixin paddingRight($value) {
  padding-right: ($value/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    padding-right: ($value/15) + rem;
  }
}

@mixin paddingLR($valueL, $valueR) {
  padding-left: ($valueL/16) + rem;
  padding-right: ($valueR/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    padding-left: ($valueL/15) + rem;
    padding-right: ($valueR/15) + rem;
  }
}

@mixin paddingTB($valueT, $valueB) {
  padding-top: ($valueT/16) + rem;
  padding-bottom: ($valueB/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    padding-top: ($valueT/15) + rem;
    padding-bottom: ($valueB/15) + rem;
  }
}

@mixin paddingTBLR($valueTB, $valueLR) {
  padding-top: ($valueTB/16) + rem;
  padding-bottom: ($valueTB/16) + rem;
  padding-left: ($valueLR/16) + rem;
  padding-right: ($valueLR/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    padding-top: ($valueTB/15) + rem;
    padding-bottom: ($valueTB/15) + rem;
    padding-left: ($valueLR/15) + rem;
    padding-right: ($valueLR/15) + rem;
  }
}

@mixin marginTop($value) {
  margin-top: ($value/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-top: ($value/15) + rem;
  }
}

@mixin marginBottom($value) {
  margin-bottom: ($value/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-bottom: ($value/15) + rem;
  }
}

@mixin marginLeft($value) {
  margin-left: ($value/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-left: ($value/15) + rem;
  }
}

@mixin marginRight($value) {
  margin-right: ($value/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-right: ($value/15) + rem;
  }
}

@mixin marginLR($valueL, $valueR) {
  margin-left: ($valueL/16) + rem;
  margin-right: ($valueR/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-left: ($valueL/15) + rem;
    margin-right: ($valueR/15) + rem;
  }
}

@mixin marginTB($valueT, $valueB) {
  margin-top: ($valueT/16) + rem;
  margin-bottom: ($valueB/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-top: ($valueT/15) + rem;
    margin-bottom: ($valueB/15) + rem;
  }
}

@mixin marginTBLR($valueTB, $valueLR) {
  margin-top: ($valueTB/16) + rem;
  margin-bottom: ($valueTB/16) + rem;
  margin-left: ($valueLR/16) + rem;
  margin-right: ($valueLR/16) + rem;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-top: ($valueTB/15) + rem;
    margin-bottom: ($valueTB/15) + rem;
    margin-left: ($valueLR/15) + rem;
    margin-right: ($valueLR/15) + rem;
  }
}

%list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include fontSize(14);
  font-weight: 400;

  ul.sub-menu {
    display: none;
  }

  li {
    @include marginTop(10);
    position: relative;

    a {
      color: $c-white;
      text-decoration: none;

      &:hover {
        color: $c-green;
      }
    }

    &.current-menu-parent,
    &.current-menu-item {
      > a {
        color: $c-green;
        font-weight: 700;
      }

      > ul.sub-menu {
        display: block;
        box-sizing: border-box;
        padding-left: 30px;
      }
    }
  }

  > li {
    @include paddingLeft(15);

    &:before,
    span.switch {
      content: '';
      position: absolute;
      top: 2px;
      left: 0px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 0 7px 8px;
      border-color: transparent transparent transparent $c-secondary;
    }

    span.switch {
      cursor: pointer;
      transition: .3s all ease-in-out;

      &.open {
        transform: rotate(90deg);
      }
    }
  }

  &.list_v2,
  &.sidebar_menu {
    li {
      a {
        color: $c-black;
        text-decoration: none;

        &:hover {
          color: $c-green;
        }
      }

      &.current-menu-item {
        > a {
          color: $c-green;
          font-weight: 700;
        }
      }

      &.menu-item-has-children {
        &:before {
          content: none !important;
        }
      }
    }

    > li {
      @include paddingLeft(25);

      &:before,
      span.switch {
        border-color: transparent transparent transparent $c-primary;
      }
    }
  }
  &.sidebar_menu {
    > li {
      &:before {
        border-color: transparent transparent transparent $c-grey;
      }
    }

    .dropdown-toggle::after {
      content: none !important;
    }
  }
}

%header_txt {
  color: $c-white;
  font-weight: 700;
  @include fontSize(14);
}

%page_desc {
  color: $c-black;
  font-weight: 400;
  @include fontSize(14);

  h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    @include marginBottom(23);
  }

  p {
    @include marginBottom(23);

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    @include marginBottom(23);
    list-style: disc;
    @include paddingLeft(15);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .date {
    @include paddingBottom(15);
    @include marginBottom(20);
    color: $c-green;
    border-bottom: 1px solid $c-grey-light;
  }
}

%icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  li {
    @include marginRight(10);
    @include marginTop(3);

    &:last-child {
      margin-right: 0;
    }

    img {
      display: block;
    }
  }
}

%slick_dots {
  &.dots_v2 {
    ul.slick-dots {
      bottom: 15px;
    }
  }

  ul.slick-dots {
    bottom: 0px;

    li {
      width: 10px;
      height: 10px;

      button {
        width: 0px;
        height: 0px;
        padding: 0px;

        &:before {
          font-size: 0px;
          line-height: 1;
          width: 10px;
          height: 10px;
          content: '';
          opacity: 1;
          background: $c-primary;
          border-radius: 10px;
        }
      }

      &.slick-active button:before {
        opacity: 1;
        background: $c-secondary;
      }
    }
  }
}

%slick_arrs {
  .slick-next:before,
  .slick-prev:before {
    content: none;
  }

  .slick-next,
  .slick-prev {
    top: 40%;
    width: 30px;
    height: 30px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    background-size: 7px !important;

    &:hover {
      background-color: $c-green;
    }
  }

  .slick-prev {
    background: url(../img/icons/arr-l.png) no-repeat center center $c-secondary;
    left: -35px;
  }
  .slick-next {
    background: url(../img/icons/arr-r.png) no-repeat center center $c-secondary;
    right: -35px;
  }

  &.arrs_default {
    .slick-next,
    .slick-prev {
      top: 50%;
    }
  }
}

%primary_btn {
  display: flex;
  @include paddingTBLR(8,58);
  background: $c-primary;
  border-radius: 9px;
  text-transform: uppercase;
  color: $c-white;
  font-weight: 700;
  @include fontSize(14);
  border: 2px solid $c-primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: $c-white;
    color: $c-primary;
  }
}

%secondary_btn {
  @include paddingTBLR(8,13);
  background: $c-secondary;
  color: $c-black !important;
  text-transform: uppercase;
  @include fontSize(12);
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  border: none;

  &:hover {
    color: $c-white !important;
  }

  &.v2 {
    background: $c-primary;
    color: $c-white !important;

    &:hover {
      background: $c-green;
    }
  }

  &.v3 {
    background: #FF0000;
    color: $c-white !important;
    @include fontSize(10);
    line-height: 15px;
  }
}

%section_header {
  @include paddingTB(25,23);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom: 5px solid $c-secondary;
  background: $c-primary;
  @include marginBottom(15);

  .section_header_title {
    color: $c-secondary;

    &.v2 {
      font-weight: 400;
    }

    &.is-small {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .section_header_link {
    text-transform: uppercase;
    @include paddingLeft(33);
    background: url(../img/icons/star.png) no-repeat left center;
    @include paddingTB(3,3);
  }

  .section_header_btn {
    @extend %secondary_btn;
  }

  &.v2 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: $c-white;
    margin-bottom: 0;

    .section_header_title {
      color: $c-primary;

      &.v2 {
        font-weight: 400;
      }
    }

    .section_header_link {
      color: $c-primary;
    }
  }

  &.v3 {
    @include paddingTB(15,15);
    background: $c-white;
    margin-bottom: 0;

    .section_header_title {
      color: $c-primary;
    }
  }

  &.v4 {
    @include paddingTB(15,15);

    border-bottom: none;
  }

  .searchform {
    display: flex;
    position: relative;

    button {
      height: 27px;
      width: 27px;
      border: none;
      background: $c-secondary;
      position: absolute;
      left: 0;
      top: 0;

      &:hover {
        background-color: $c-green;
      }
    }
    input[type="text"] {
      border: none;
      border-bottom: 1px solid $c-black;
      height: 28px;
      border-radius: 0;
      padding-left: 35px;
    }
  }
}

%catalog_sorting {
  @include paddingTB(16,12);
  border-bottom: 5px solid $c-secondary;
  background: $c-white;

  &.v2 {
    padding: 0;
    border-bottom: none;
    background: none;
  }

  .sorting_title {
    color: $c-primary;
    font-weight: 700;
  }

  select {
    @include marginLeft(9);
    border: 1px solid $c-grey-light;
    @include fontSize(10);
    @include paddingTBLR(9,9);
    @include paddingRight(23);
    color: $c-primary;
    background: url(../img/icons/select_arr_d.png) no-repeat center right 8px $c-white;
    height: 34px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;

  }
}

%post {
  //@include marginLR(10,10);
  @include paddingLR(10,10);
  display: block;
  text-decoration: none;

  .post_image {
    @include marginBottom(13);
  }

  .post_date {
    @include marginBottom(3);
    color: $c-green;
  }

  h4 {
    color: $c-primary;
    font-weight: 400;
  }

  &:hover {
    h4 {
      color: $c-secondary;
    }
  }
}

%navigation {
  @include paddingBottom(30);
  color: $c-primary;

  .pagination {
    li {
      a{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29px;
        height: 29px;
        margin-left: 4px;
        background: $c-primary;
        color: $c-secondary;

        &:hover {
          color: $c-green;
        }
      }

      span.current {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29px;
        height: 29px;
        margin-left: 4px;
        background: $c-secondary;
        color: $c-black;
      }
    }
  }
}

%catalog_post {
  @include paddingLR(10,10);

  .catalog_post_img {
    img {
      border-radius: 50%;
      border: 2px solid $c-green;
      overflow: hidden;
      @include marginBottom(38);
    }
  }

  .catalog_post_content {
    text-align: center;

    .catalog_post_title {
      color: $c-primary;
      font-weight: 700;
      @include marginBottom(10);
    }

    .catalog_post_desc {
      color: $c-grey;
      font-weight: 400;
      @include marginBottom(10);
    }

    .catalog_post_price {
      color: $c-green;
      font-weight: 400;
      @include marginBottom(20);
    }

    .catalog_post_stars {
      position: relative;
      padding-bottom: 5px;

      ul {
        transition: all 0.3s ease-in-out;

        li {
          @include marginLR(3,3);
        }
      }

      .catalog_post_more {
        opacity: 0;
        position: absolute;
        z-index: -1;

        @include paddingTBLR(8,10);
        background: $c-primary;
        color: $c-white;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 0;
        @include fontSize(12);
        text-decoration: none;
        width: 133px;

        transition: all 0.3s ease-in-out;
      }
    }
  }

  &:hover {
    .catalog_post_content {
      .catalog_post_stars {
        ul {
          opacity: 0;
        }
        .catalog_post_more {
          opacity: 1;
          z-index: 1;
          &:hover {
            background: $c-secondary;
          }
        }
      }
    }
  }

  &.v2 {
    padding-top: 15px;

    .catalog_post_img {
      position: relative;

      .catalog_post_select {
        display: none;
      }
    }

    &:hover {
      .catalog_post_img {
        .catalog_post_select {
          position: absolute;
          left: 0;
          top: -15px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(255, 207, 24, 0.87);
          width: 100%;
          height: calc(100% + 30px);
          @include fontSize(18);
          color: $c-primary;
          font-weight: 700;
          border-radius: 5px;
          text-decoration: none !important;
        }
      }

      .catalog_post_content {
        .catalog_post_stars {
          ul {
            opacity: 1;
          }
        }
      }
    }
  }
}

%radio_btns {
  position: relative;
  display: flex;
  flex-direction: column;

  li {
    @include paddingTB(7,7);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    label {
      box-sizing: border-box;
      @include paddingLeft(47);
      position: relative;
      display: inline-block;
      @include fontSize(10);
      color: $c-grey;
      cursor: pointer;

      &:before {
        content: '';
        width: 23px;
        height: 23px;
        border-radius: 3px;
        border: 1px solid $c-grey;
        background: $c-white;
        left: 0;
        top: -5px;
        display: block;
        position: absolute;
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      width: 0;
      height: 0;
      position: absolute;
      z-index: -100;
      visibility: hidden;

      &:checked + label {
        &:after {
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 1px solid $c-primary;
          background: $c-primary;
          left: 6px;
          top: 0px;
          display: block;
          position: absolute;
        }
      }
    }
  }
}
