* {
	outline: none !important;
}
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp,
small, strike, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5{
	font-size: 17px;
}
h6 {
	font-size: 16px;
}
a {
	text-decoration: none;
}
a,
a:hover,
a:visited {
	color: red;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 0 15px 0
}
p:last-child {
	margin-bottom: 0 !important;
}
img {
	max-width: 100%;
	height: auto;
}
a img {
	border: none;
}