@font-face {
    font-family: 'Gotham Pro Light';
    src: url('GothaProLig_D.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('GothaProReg_D.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('GothaProBol_D.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Black';
    src: url('GothaProBla.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('GothaProMed.otf');
    font-weight: normal;
    font-style: normal;
}